// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

@import 'devJob';

.modal {
  transition: opacity 0.25s ease;
}

body {
	font-family: 'Roboto', sans-serif;
}

body.modal-active {
  overflow-x: hidden;
  overflow-y: visible !important;
}