// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@tailwind base;

@tailwind components;

@tailwind utilities;

@import 'devJob';

.modal {
  transition: opacity 0.25s ease;
}

body.modal-active {
  overflow-x: hidden;
  overflow-y: visible !important;
}